---
import Logo from "../assets/images/M_NEGATIVO.png";
---
    <div
      id="loader"
      class="fixed inset-0 bg-[#0f0f1a] flex flex-col items-center justify-center z-40 opacity-0 pointer-events-none transition-opacity duration-700"
    >
      <img src={Logo.src} alt="Cargando" class="w-20 h-20 animate-bounce" />
      <p class="mt-4 text-gray-300 text-lg animate-pulse">Cargando...</p>
    </div>