---
import Logo from "../assets/images/M_NEGATIVO.png";
---
<nav class="bg-[#1e1e2f]">
<div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-3">
    <a href="#" class="text-white flex items-center gap-2 text-2xl font-['Sour_Gummy']">
    <img src={Logo.src} alt="Logo" width="50" height="50" />
    MavaPandy.code
    </a>
</div>
</nav>